body
{
   font-size: 8px;
   line-height: 1.1875;
   background-color: #000000;
   color: #000000;
}
#Image5
{
   border: 0px #000000 solid;
}
#RadioButton
{
   border: 0px #000000 solid;
}
#DiagButton
{
   border: 0px #000000 solid;
}
#HomeButton
{
   border: 0px #000000 solid;
}
#Image1
{
   border: 0px #000000 solid;
}
